<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增頁面</title>
    <th:block th:include="common.html :: source"></th:block>

</head>
<body>
<!-- 引入頂部介面 -->
<div th:include="common.html :: header"></div>

<div class="container">
    <div class="row">
        <!-- 引入左側標題 -->
        <div th:include="common.html :: managerLeftTitle"></div>
        <!--頁面中心-->
        <div class="col-sm-10">
            <!--  添加表格  -->
            <div class="container commonForm">
                <div class="panel panel-success" >
                    <!--面板頭-->
                    <div class="panel-heading" >
                        <h2 class="text-center">添加圖書資料</h2>
                    </div>
                    <!--面板的內容-->
                    <div class="panel-body">
                        <!--表單-->
                        <form th:action="@{/book/add}" method="post" class="singIn-form" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="name">商品名稱:</label>
                                <input type="text" class="form-control" id="name" name="name" value="">
                            </div>

                            <div class="form-group">
                                <label for="file" >商品圖片:</label>
                                <!-- 此處的name，不能使用photo命名，會與java實體類中的String類型匹配，造成類型轉換錯誤，一個String一個file -->
                                <input type="file" id="file"  name="img"/>
                            </div>

                            <div class="form-group">
                                <label for="author">作者:</label>
                                <input type="text" class="form-control" id="author" name="author" value="">
                            </div>

                            <div class="form-group">
                                <label>類型:</label>
                                <select class="form-control" name="bookTypeId">
                                    <option>請選擇類型</option>
                                    <option th:each="bookType:${bookTypes}"
                                            th:value="${bookType.bookTypeId}"
                                            th:text="${bookType.bookTypeName}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="price">價格:</label>
                                <input type="text" class="form-control" id="price" name="price" value="">
                            </div>

                            <div class="form-group">
                                <label for="stock">庫存:</label>
                                <input type="text" class="form-control" id="stock" name="stock" value=""/>
                            </div>

                            <div style="text-align: center">
                                <button type="submit" class="btn btn-lg btn-block btn-primary commonBtn">確定添加</button>
                                <button type="button" class="btn btn-lg btn-block btn-danger commonBtn" onclick="returnBack()" >返回列表</button>
                            </div>
                            <script>
                                function returnBack() {
                                    location.href = "/book/back";
                                }
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>